/*  BACKGROUND, VARS, & OTHER FAR REACHING STUFF */
:root    {
    --MainTextColour    : #DADADA;
    --QuoteeTextCol     : #DADADA;
    --BackGroundCol     : #4A4A4A;

}

body    {    background-color    : var(--BackGroundCol);    }

/*  TEXT  */
h1 {
    color: var(--MainTextColour);
    text-align: center;
    margin: 0 auto;
}

p {
     text-align: right;
     font-size: 16px;
     color: var(--QuoteeTextCol);
     padding: 3px;
}

.quote {
    font-family: 'Franklin Gothic Medium';    /* Is this right? */
    text-align: justify left;
    margin: 0 auto;
    border-left: 4px solid #888;
    padding-left: 5px;
    font-size: 20px;
    color: var(--MainTextColour);
    max-width: 80%;
}

/*  CONTAINERS  */

[class*="c-"] {
    width: 100%;
    float: left;
    border: 1px solid black;
    height: 685px;
}

@media only screen and (min-width: 601px)   {
    .c-1 {width: 45%; margin: 2%; height: 665px;}
    /*.c-2 {width: 16.66%; height: auto;}   HERE INCASE I FORGET I CAN DO THIS*/
}

@media only screen and (min-width: 1200px)   {
    .c-1 {width: 30%; margin: 1.15%; height: 630px;}
}

/*  IMAGES  */

.image1 {
    width    : 100%;
    height   : auto;
}